.webapp-pets-child {
    position: absolute;
    top: 35px;
    left: calc(50% - 604px);
    border-radius: 50%;
    background-color: var(--color-plum);
    width: 44px;
    height: 44px;
  }
  .webapp-pets-item {
    position: absolute;
    top: 33px;
    left: calc(50% - 640px);
    width: 67px;
    height: 31px;
    object-fit: cover;
    cursor: pointer;
  }
  .cats,
  .dogs {
    position: absolute;
    top: 145px;
    left: calc(50% - 377px);
    line-height: 106%;
    display: inline-block;
    color: var(--color-black);
    text-align: center;
    width: 59px;
  }
  .cats {
    top: 468px;
  }
  .group-child,
  .group-item {
    position: absolute;
    top: 0;
    background-color: var(--color-black);
  }
  .group-child {
    left: calc(50% - 159px);
    border-radius: var(--br-7xl);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 318px;
    height: 52px;
  }
  .group-item {
    left: calc(50% - 45px);
    border-radius: var(--br-mid);
    width: 90px;
    height: 33px;
  }
  .home {
    position: absolute;
    top: 9px;
    left: calc(50% - 14px);
    display: inline-block;
    width: 27px;
    height: 15px;
  }
  .group-inner,
  .rectangle-group {
    position: absolute;
    top: 0;
    left: calc(50% - 146px);
    width: 90px;
    height: 33px;
  }
  .group-inner {
    left: calc(50% - 45px);
    border-radius: var(--br-mid);
    background-color: var(--color-white);
  }
  .pets {
    position: absolute;
    top: 9px;
    left: calc(50% - 10px);
    display: inline-block;
    width: 19px;
    height: 15px;
  }
  .rectangle-container {
    position: absolute;
    top: 0;
    left: calc(50% - 45px);
    width: 90px;
    height: 33px;
    color: var(--color-black);
  }
  .suppliments {
    position: absolute;
    top: 9px;
    left: calc(50% - 28px);
    display: inline-block;
    width: 55px;
    height: 15px;
  }
  .group-div,
  .group-parent {
    position: absolute;
    top: 0;
    left: calc(50% + 56px);
    width: 90px;
    height: 33px;
  }
  .group-parent {
    top: 9px;
    left: calc(50% - 146px);
    width: 292px;
  }
  .rectangle-parent {
    position: absolute;
    top: 24px;
    left: calc(50% - 159px);
    width: 318px;
    height: 52px;
    font-size: var(--font-size-3xs);
  }
  .group-child1,
  .group-child2 {
    position: absolute;
    top: 0;
    left: calc(50% - 89px);
    border-radius: var(--br-7xl);
    background-color: var(--color-black);
    width: 178px;
    height: 52px;
  }
  .group-child2 {
    left: calc(50% - 16.7px);
    border-radius: var(--br-mid);
    background-color: var(--color-white);
    width: 33.4px;
    height: 33px;
  }
  .vector-icon {
    position: absolute;
    top: 7px;
    left: calc(50% - 9.7px);
    width: 19.1px;
    height: 19.1px;
    object-fit: cover;
  }
  .rectangle-parent2 {
    position: absolute;
    top: 9px;
    left: calc(50% - 80px);
    width: 33.4px;
    height: 33px;
  }
  .search-for-anything {
    position: absolute;
    top: 18px;
    left: calc(50% - 30px);
    display: inline-block;
    width: 89px;
    height: 15px;
  }
  .rectangle-parent1 {
    position: absolute;
    top: 24px;
    left: calc(50% + 327px);
    width: 178px;
    height: 52px;
    font-size: var(--font-size-3xs);
  }
  .group-child3 {
    position: absolute;
    top: 0;
    left: calc(50% - 117px);
    border-radius: var(--br-22xl);
    background-color: var(--color-plum);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 234px;
    height: 240px;
  }
  .mask-group-icon {
    position: absolute;
    top: 7px;
    left: calc(50% - 111px);
    width: 222px;
    height: 225px;
    object-fit: cover;
  }
  .samoyed,
  .snowy {
    position: absolute;
    top: 120px;
    left: calc(50% - 95px);
    line-height: 106%;
    display: inline-block;
    width: 71px;
  }
  .samoyed {
    top: 147px;
    font-size: var(--font-size-3xs);
    width: 42px;
  }
  .rectangle-parent3 {
    position: absolute;
    top: 0;
    left: calc(50% - 117px);
    width: 234px;
    height: 240px;
  }
  .group-child4,
  .group-icon {
    position: absolute;
    top: 0;
    left: calc(50% + 8.5px);
    width: 24px;
    height: 24px;
    object-fit: cover;
  }
  .group-child4 {
    left: calc(50% - 32.5px);
  }
  .group-parent1 {
    position: absolute;
    top: 169px;
    left: calc(50% - 95px);
    width: 65px;
    height: 24px;
  }
  .group-container,
  .group-parent2,
  .group-parent4,
  .group-parent6 {
    position: absolute;
    top: 190px;
    left: calc(50% - 390px);
    width: 234px;
    height: 240px;
  }
  .group-parent2,
  .group-parent4,
  .group-parent6 {
    top: 513px;
  }
  .group-parent4,
  .group-parent6 {
    top: 190px;
    left: calc(50% - 123px);
  }
  .group-parent6 {
    top: 513px;
  }
  .group-parent10,
  .group-parent12,
  .group-parent14,
  .group-parent8 {
    position: absolute;
    top: 190px;
    left: calc(50% + 144px);
    width: 234px;
    height: 240px;
  }
  .group-parent10,
  .group-parent12,
  .group-parent14 {
    top: 513px;
  }
  .group-parent12,
  .group-parent14 {
    top: 190px;
    left: calc(50% + 411px);
  }
  .group-parent14 {
    top: 513px;
  }
  .group-child26 {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--color-black);
    height: 209px;
  }
  .group-icon1 {
    position: absolute;
    top: 80.2px;
    left: calc(50% - 53px);
    width: 105.5px;
    height: 48.8px;
    object-fit: cover;
  }
  .home1,
  .pets1,
  .suppliments1 {
    position: absolute;
    top: 36px;
    left: calc(50% - 44.5px);
    font-weight: 500;
  }
  .home1,
  .suppliments1 {
    top: 0;
  }
  .suppliments1 {
    top: 72px;
  }
  .pets-parent {
    position: absolute;
    top: 58px;
    left: calc(50% - 659px);
    width: 89px;
    height: 94px;
  }
  .group-child27,
  .group-child28 {
    position: absolute;
    top: 0;
    left: calc(50% - 54.5px);
    width: 44px;
    height: 44px;
    object-fit: cover;
  }
  .group-child28 {
    left: calc(50% + 10.5px);
  }
  .group-parent16 {
    position: absolute;
    top: 83px;
    left: calc(50% + 547px);
    width: 109px;
    height: 44px;
  }
  .rectangle-parent11 {
    position: absolute;
    width: 100%;
    top: 812px;
    right: 0;
    left: 0;
    height: 209px;
    font-size: var(--font-size-base);
  }
  .see-all {
    position: absolute;
    top: 0;
    left: calc(50% - 32px);
    line-height: 106%;
    font-weight: 500;
    display: inline-block;
    width: 45px;
  }
  .vector-icon1 {
    position: absolute;
    top: 3.3px;
    left: calc(50% + 22px);
    width: 10px;
    height: 9px;
    object-fit: cover;
  }
  .see-all-group,
  .see-all-parent {
    position: absolute;
    top: 149px;
    left: calc(50% + 566px);
    width: 64px;
    height: 14px;
    text-align: center;
    font-size: var(--font-size-smi);
    color: var(--color-black);
  }
  .see-all-group {
    top: 474px;
  }
  .group-child29 {
    position: absolute;
    top: 0;
    left: calc(50% - 121.5px);
    border-radius: var(--br-22xl);
    background-color: var(--color-black);
    width: 243px;
    height: 650px;
  }
  .trevor,
  .welcome-to-petdex {
    position: absolute;
    line-height: 106%;
    display: inline-block;
  }
  .trevor {
    top: 118px;
    left: calc(50% - 57.5px);
    font-size: var(--font-size-21xl);
    width: 116px;
  }
  .welcome-to-petdex {
    top: 69px;
    left: calc(50% - 52.5px);
    width: 105px;
  }
  .cart,
  .log-out,
  .saved-items {
    position: absolute;
    top: 163px;
    left: calc(50% - 3px);
    font-weight: 500;
    cursor: pointer;
  }
  .cart,
  .saved-items {
    top: 9px;
  }
  .cart {
    top: 86px;
  }
  .group-child30,
  .group-child31,
  .group-child32 {
    position: absolute;
    top: 0;
    left: calc(50% - 16.5px);
    width: 33px;
    height: 33px;
    object-fit: cover;
    cursor: pointer;
  }
  .group-child31,
  .group-child32 {
    top: 77px;
  }
  .group-child32 {
    top: 154px;
  }
  .group-parent17,
  .log-out-parent {
    position: absolute;
    top: 0;
    left: calc(50% - 63px);
    width: 33px;
    height: 187px;
  }
  .log-out-parent {
    top: 403px;
    left: calc(50% - 62.5px);
    width: 126px;
    text-align: left;
  }
  .rectangle-parent12 {
    position: absolute;
    top: 124px;
    left: calc(50% - 682px);
    width: 243px;
    height: 650px;
    text-align: center;
    font-size: var(--font-size-xs);
  }
  .group-child33,
  .group-child34 {
    position: absolute;
    top: 0;
    left: calc(50% - 13px);
    background-color: var(--color-black);
    width: 26px;
    height: 3px;
  }
  .group-child34 {
    top: 8px;
  }
  .rectangle-parent13 {
    position: absolute;
    top: 67px;
    left: calc(50% + 640px);
    width: 26px;
    height: 11px;
  }
  .component-4,
  .component-4-child {
    position: absolute;
    left: calc(50% - 720px);
    width: 1440px;
    height: 850px;
  }
  .component-4-child {
    top: calc(50% - 1275px);
    background-color: var(--color-gainsboro);
  }
  .component-4 {
    top: 0;
    overflow: hidden;
  }
  .webapp-pets {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1021px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
    font-family: var(--font-trip-sans);
  }
  